In [1]:
import trino
import pandas as pd

In [2]:
conn = trino.dbapi.connect(
    host='10.168.6.104',
    port='8082',
    user='admin',
    catalog='vnptlake_iceberg_hive',
    schema='lake_ioc'
)

In [3]:
query = "SELECT * FROM lake_ioc.data_covid_vn2"
cursor = conn.cursor()
cursor.execute(query)

In [4]:
conn.close()

In [5]:
columns = [desc[0] for desc in cursor.description]
data = cursor.fetchall()
df = pd.DataFrame(data, columns=columns)

In [6]:
print(df.head())

              name  death treating    cases recovered casestoday
0           Hà Nội   1232        0  1646923         0          2
1  TP. Hồ Chí Minh  19985        0   629018         0          3
2        Hải Phòng    138        0   537527         0          5
3          Nghệ An    145        0   502049         0         11
4        Bắc Giang     92        0   391440         0          0